/* Header.css */
.header-container {
    display: flex;
    justify-content: center;
   
    align-items: center;
 
    padding: 20px 0;

}

.profile-image {
    border-radius: 50%;
    height: 5rem;
    cursor: pointer;
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 0;
}

.stats p {
    margin: 5px 0;
}